.home-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.column {
  flex: 1;
  min-width: 0; /* for flexbox to shrink items correctly */
}

.competition-selector,
.current-competition-link {
  margin-bottom: 1rem;
}

.competition-selector .mat-mdc-form-field {
  width: 100%;
}

.data-table {
  width: 100%;
}

.task-row {
  cursor: pointer;
}

@media (max-width: 1023px) {
  .home-container {
    flex-direction: column;
  }
}